.vs/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.user
*.exe
*.dll
*.pdb
env/
.venv/
__pycache__/
venv/
**/venv/
**/.venv/
**/__pycache__/
node_modules
# Allow native library dependencies
!**/runtimes/**/*.dll
!**/runtimes/**/*.so
!uwot.dll
!libuwot.so